@model ListBodyStyleVM //I create This VM to count cars in all BodyStyle
@{
    int i = 0;
}


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var car in @Model.cars)
        {
            <div class="carousel-item  @if(i++==0){<text>active</text>}">
                <img src="@car.Img" class="d-block w-100" height="500px" alt="@car.Color">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@car.price$</h5>
                    <p>@car.Location</p>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-12  col-12">
            <p class="cate">CATEGORIES</p>
            <div class="row text-center">
                @foreach (var item in @Model.bodyStyles)
                {
                    <div class="col-lg-3 col-md-5 col-sm-4 col-6  my-3">
                        <div class="card shadow">
                            <a asp-action="Detials" asp-controller="Home" asp-route-name="@item.Name"><img src="@item.Img" class="card-img-top w-25" alt="@item.Name"></a>
                            <div class="card-body">
                                <span class="border-bottom-"></span>
                                <a asp-action="Detials" asp-controller="Home" asp-route-name="@item.Name" class="nav-link card-text text-center text-dark">
                                    @item.Name
                                    <span>(@Model.CountcarsForBodystyle(@item.Name))</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-3 col-sm-12  col-12">
            <i class="fa fa-magnifying-glass fs-4 text-secondary"></i><span class="fs-4 text-secondary">Search</span>
            <form class="d-flex" asp-action="Index" asp-controller="Home">
                <input class="form-control rounded-0 " name="name" type="search" placeholder="Search" aria-label="Search" required>
                <button class="btn btn-secondary rounded-0" type="submit">Search</button>
            </form>
            <p class="mt-2 text-secondary">
                <span class="fa fa-folder"></span>
                CATEGORIES
            </p>
            <ul class="list-group list-group-flush mt-2">
                @foreach (var item in @Model.bodyStyles)
                {
                    <li class="list-group-item text-secondary">
                        <span class="fa fa-angle-right"></span>
                        <a class="text-decoration-none text-secondary" asp-action="Detials" asp-controller="Home" asp-route-name="@item.Name">@item.Name</a>
                        <span>(@Model.CountcarsForBodystyle(@item.Name))</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>